{% extends "base.html" %}

{% block content %}

{% if topics %}
<h2 class="my-4">Topics</h2>
<ul class="list-group">
    {% for topic in topics %}
    <li class="list-group-item">
        <a href="{{ url_for('topic', topic_id=topic.id) }}">{{ topic.title }}</a>
        <br>
        <small class="text-muted">Posted on {{ topic.created_at }}</small>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p class="my-3">It must be a slow day! No topics posted at the moment.</p>
{% endif %}
{% endblock %}
